@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ds-digi';
    src: url('/fonts/DS-DIGII.TTF') format('truetype');
}

a {
    transition: 0.5s;
}

a:hover {
    color: #ff533c;
}

.navbar li {
    margin-top: auto;
    margin-bottom: auto;
}

.y-scroll-item:nth-child(2n) {
    justify-content: end;
}

.y-scroll-item:nth-child(3n) {
    justify-content: center;
}

.y-scroll-item:nth-child(4n) {
    justify-content: start;
}

.y-scroll-item:nth-child(5n) {
    justify-content: center;
}

.blink {
    animation: blink-animation 1s infinite step-start;
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}

/* Image zoom on hover START */

/* [1] The container */
.img-hover-zoom {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.05);
}

/* Image zoom on hover END */

.x-scroll-item:nth-child(n) {
    height: 60vh;
}

.x-scroll-item:nth-child(2n) {
    height: 80vh;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

/* Background grain effect on all pages */
/* Appied in root/index.html */

.grain {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: -10;
    transform: translateZ(0);
}

.grain::before {
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    z-index: 9999;
    position: fixed;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    opacity: 0.15;
    pointer-events: none;
    -webkit-animation: noise 1s steps(2) infinite;
    animation: noise 1s steps(2) infinite;
}

@-webkit-keyframes noise {
    to { transform: translate3d(-7rem,0,0) }
}

@keyframes noise {
    0% { transform: translate3d(0,9rem,0) }
    10% { transform: translate3d(-1rem,-4rem,0) }
    20% { transform: translate3d(-8rem,2rem,0) }
    30% { transform: translate3d(9rem,-9rem,0) }
    40% { transform: translate3d(-2rem,7rem,0) }
    50% { transform: translate3d(-9rem,-4rem,0) }
    60% { transform: translate3d(2rem,6rem,0) }
    70% { transform: translate3d(7rem,-8rem,0) }
    80% { transform: translate3d(-9rem,1rem,0) }
    90% { transform: translate3d(6rem,-5rem,0) }
    to { transform: translate3d(-7rem,0,0) }
}