@tailwind base;
@tailwind components;
@tailwind utilities;

/* Image zoom on hover START */

/* [1] The container */
.img-hover-zoom {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.05);
}

/* Image zoom on hover END */

.x-scroll-item:nth-child(n) {
    height: 60vh;
}

.x-scroll-item:nth-child(2n) {
    height: 80vh;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

/* Attempt to randomize thumbnail layout for floating gallery */
/* Not ideal, may have to manually set positions and size for aesthetics */

.floating-gallery-item:nth-child(5n+1) {
    max-width: 8vw;
    margin: 0.5vw;
    transform: translateY(-150px) scale(0.95);
}

.floating-gallery-item:nth-child(5n+2) {
    max-width: 10vw;
    margin: 1vw;
    transform: translateY(150px) scale(1.1);
}

.floating-gallery-item:nth-child(5n+3) {
    max-width: 7vw;
    margin: 2vw;
    transform: translateY(-100px) scale(0.9);
}

.floating-gallery-item:nth-child(5n+4) {
    max-width: 11vw;
    margin: 4vw;
    transform: translateY(200px) scale(1);
}

.floating-gallery-item:nth-child(5n) {
    max-width: 9vw;
    margin: 1.5vw;
    transform: translateY(50px) scale(1.05);
}

/* Background grain effect on all pages */
/* Appied in root/index.html */

.grain {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: -10;
    transform: translateZ(0);
}

.grain::before {
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    z-index: 9999;
    position: fixed;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    opacity: 0.15;
    pointer-events: none;
    -webkit-animation: noise 1s steps(2) infinite;
    animation: noise 1s steps(2) infinite;
}

@-webkit-keyframes noise {
    to { transform: translate3d(-7rem,0,0) }
}

@keyframes noise {
    0% { transform: translate3d(0,9rem,0) }
    10% { transform: translate3d(-1rem,-4rem,0) }
    20% { transform: translate3d(-8rem,2rem,0) }
    30% { transform: translate3d(9rem,-9rem,0) }
    40% { transform: translate3d(-2rem,7rem,0) }
    50% { transform: translate3d(-9rem,-4rem,0) }
    60% { transform: translate3d(2rem,6rem,0) }
    70% { transform: translate3d(7rem,-8rem,0) }
    80% { transform: translate3d(-9rem,1rem,0) }
    90% { transform: translate3d(6rem,-5rem,0) }
    to { transform: translate3d(-7rem,0,0) }
}